<p id="notice"><%= notice %></p>

<div class="container"><h4>Movies at Grand Lodge on Peak 7 - Theaters 3 and 4</h4>
</div>

<div class="container mb-2">
  <%= form_tag "/movies", method: :get, class: 'form-inline' do %>
  <%= text_field_tag :title, params[:title], placeholder: "Title" %>
  <%= text_field_tag :rating, params[:rating], placeholder:  "Rating" %>
  <%= text_field_tag :lead, params[:lead], placeholder:  "Lead" %>
  <%= text_field_tag :director, params[:director], placeholder:  "Director" %>
  <%= text_field_tag :medium, params[:medium], placeholder:  "Type" %>
  <%= submit_tag "Search" %>
  <% end %>
</div>

<div class="container">
  <table class="table table-responsive table-striped table-hover sortable">
    <thead >
      <tr>
        <th data-defaultsort="asc">Title</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Lead</th>
        <th>Director</th>
        <th>Year</th>
        <th>Type</th>
        <th>Duration</th>
        <th>Theater</th>
        <!-- <th colspan="3"></th> -->
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.genre %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.lead %></td>
        <td><%= movie.director %></td>
        <td><%= movie.year %></td>
        <td><%= movie.medium %></td>
        <td><%= movie.duration %></td>
        <td><%= movie.theater %></td>
        <!-- <td><%= link_to 'Show', movie %></td>
          <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
          <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>

  <!-- <%= link_to 'New Movie', new_movie_path %> -->
