<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.Title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.Genre %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.Rating %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @movie.Lead %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.Director %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.Year %>
</p>

<p>
  <strong>Type:</strong>
  <%= @movie.Type %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.Duration %>
</p>

<p>
  <strong>Theater:</strong>
  <%= @movie.Theater %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
