<!DOCTYPE html>
<html>
<head>
  <title>Movies at the Grand Lodge</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container-fluid">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link" href="https://owners.breckgv.com/">Owers</a>
          </li>
          <li class="nav-item">
            <%= link_to 'Movies', movies_path, class:'nav-link' %>
          </li>
        </ul>
      </nav>
      <a href="http://www.grandlodgeonpeak7.com/"><%= image_tag("gl7.png", :alt => "Grand Lodge on Peak 7 logo") %></a>
    </div>

    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        
        <%= yield %>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container container-fluid">
      <span class="text-muted"><p class="centered">PO Box 6879   |   100 S. Main St.   |   Breckenridge, CO 80424   |   877-453-4440</p></span>
    </div>
  </footer>

    
</body>
</html>
